#experience .h1-container .underline { background-color: var(--cream); }

.exp-item {
  display: flex;
}

.exp-item .timeline {
  position: relative;
  margin-right: 1rem;
  min-height: 5rem;
}

.exp-item .timeline .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  z-index: 1;
}

.exp-item .timeline .circle.job { background-color: var(--teal); }
.exp-item .timeline .circle.event { background-color: var(--blue); }
.exp-item .timeline .circle.project { background-color: var(--cream); }

.exp-item .timeline .circle:focus {
  outline: none;
  border: 2px solid var(--blue);
}

.exp-item .timeline .circle .plus {
  transition: all 200ms ease;
  width: 1rem;
  height: 1rem;
}

.exp-item .timeline .circle .plus.rotate {
  transform: rotate(135deg);
}

.exp-item .timeline .line {
  position: absolute;
  left: 0;
  right: 0;
  top: -0.5rem;
  transform: translate(0, 2.5rem);
  margin: auto;
  background-color: var(--gray);
  width: 0.1rem;
  height: calc(100% - 1rem);
  z-index: -1;
}

.exp-item.last .timeline .line { display: none; }

.exp-item .content {
  display: flex;
  flex-direction: column;
}

.exp-item .content .title {
  font-family: 'Alice', serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.exp-item .content .subtitle {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.exp-item .content .details {
  margin: 0 0 1rem;
  padding: 0 1.5rem;
}

.exp-item .content .details li {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  line-height: 1.25rem;
}
