#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray);
  box-sizing: border-box;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

#home .h1-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17rem;
  overflow: hidden;
}

#home .h1-container h1 {
  z-index: 1;
  letter-spacing: 2px;
  font-weight: 500;
}

#home .h1-container .underline {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 100%;
  background-color: var(--cream);
}

.profile-picture {
  height: 12rem;
  width: 12rem;
  object-fit: cover;
  border: 8px solid var(--teal);
  border-radius: 50%;
  margin-bottom: 2rem;
  animation: 1s ease-in-out 0s 1 fadeIn;
}

.links {
  display: flex;
  overflow: hidden;
  animation: 1s ease-in-out 0s 1 fadeIn;
}

.links .home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--teal);
  margin: 1rem 2rem;
  width: 12rem;
  height: 3rem;
}

.links a {
  font-family: 'Alice', serif;
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
}

@keyframes slideInFromLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 768px) {
  #home {
    justify-content: center;
  }

  .links {
    flex-direction: column;
    overflow: auto;
  }

  .links .home-link {
    font-size: 1rem;
    margin: 0.5rem 2rem;
    border-radius: 4px;
  }
}
