:root {
  --blue: #003399;
  --teal: #99CCCC;
  --cream: #F7DFC1;
  --gray: #CCCCCC;
  --background: #F0F0F0;
}

body {
  background-color: var(--background);
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-family: 'Alice', serif;
  font-size: 3rem;
  letter-spacing: 2px;
  margin-top: 0;
}

.h1-container {
  position: relative;
  width: fit-content;
  overflow: hidden;
  padding: 0 1rem;
}

.h1-container h1 {
  position: relative;
  z-index: 2;
}

.h1-container .underline {
  position: absolute;
  bottom: 3rem;
  left: -1rem;
  width: calc(100% + 2rem);
  height: 0.5rem;
  z-index: 1;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  margin: 0 0 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0 3rem;
}

svg.logo-home {
  width: 4rem;
  height: auto;

}

svg.logo-home .logo-path {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  transition: stroke-dashoffset 3s ease-in-out;
}

svg.logo-home .logo-path.show {
  stroke-dashoffset: 0;
}

#about, #portfolio, #experience {
  position: relative;
  padding: 0 5rem;
  min-height: 100vh;
  height: fit-content;
  box-sizing: border-box;
}

#footer {
  display: flex;
  justify-content: flex-end;
  padding: 3rem 0;
  width: 100%;
  box-sizing: border-box;
}

#footer a {
  color: black;
  text-decoration: none;
  margin-left: 3rem;
  padding-bottom: 0.25rem;
  font-family: 'Alice', serif;
  font-size: 1rem;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 768px) {
  h1 {
    margin: 0 auto 2rem;
  }

  #about, #portfolio, #experience {
    padding: 0 2.5rem;
  }

  #footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
  }

  #footer a {
    margin: 0;
    font-size: 0.85rem;
  }
}
