:root {
  --font-size-h1: 7rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-p: 1.2rem;
  --font-size-p-sm: 1rem;
  --font-size-p-xs: 0.85rem;
  --light-green: #9BB597;
  --dark-green: #7C9078;
  --light-gray: #DCDCDC;
  --dark-gray: #505050;
  --navbar-height: 3rem;
}

body {
  font-family: "Alice", serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Zilla Slab", serif;
  font-size: var(--font-size-h1);
  color: white;
}

h2 {
  font-family: "Zilla Slab", serif;
  font-size: var(--font-size-h2);
  margin: 0;
}

p {
  font-size: var(--font-size-p);
  margin-bottom: 0;
}

a { text-decoration: none; }

/*************************
 ***** NAVBAR/BANNER *****
 *************************/
#navbar {
  display: flex;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  background-color: var(--dark-green);
  opacity: 1;
  z-index: 10;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  justify-content: flex-start;
  padding-left: 1rem;
}

a.home-link {
  font-family: 'Mr De Haviland', cursive;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--light-gray);
  margin: 0 1rem;
  font-weight: normal;
  transition: all ease 0.3s;
}

.navbar-right {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  padding-right: 1rem;
}

a.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
  color: var(--light-gray);
  text-decoration: none;
  font-family: "Zilla Slab", serif;
  font-weight: normal;
  transition: all ease 0.3s;
}

a.page-link:hover, a.page-link:active, a.page-link:focus, a.home-link:hover, a.home-link:active, a.home-link:focus {
  color: white;
  font-weight: bold;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: var(--light-green) url("../assets/img/lace-background-transparent.png") no-repeat center bottom / cover;
  position: relative;
}

/*************************
 ******** SECTION ********
 *************************/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem;
  color: var(--dark-green);
  text-align: center;
}

.section h2, .section a {
  color: var(--dark-green);
}

.section p {
  color: var(--dark-gray);
}

.section.color {
  background-color: var(--light-green);
  color: white;
}

.section.color h2, .section.color p {
  color: white;
}


/*************************
 ********* ABOUT *********
 *************************/
.profile-image {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  margin: -5rem 0 2rem;
}

.profile-image img {
  display: flex;
  max-height: 20rem;
  margin: 0;
  border-radius: 50%;
  border: 10px solid white;
}

/*************************
 ****** EXPERIENCE *******
 *************************/
a.resume-link, a.resume-link:visited {
  color: white;
  opacity: 0.6;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  margin-top: 1rem;
}

a.resume-link:hover, a.resume-link:focus {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-top: -2rem}
  100%  {opacity: 1; margin-top: 0}
}

.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.experience-content {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  margin: 2.5rem 0;
}

.experience-summary {
  font-size: var(--font-size-h3);
  font-weight: bold;
  font-family: "Zilla Slab", serif;
  margin-top: 3rem;
  cursor: pointer;
}

.experience-right {
  flex-basis: 100%;
  flex: 1;
}

.experience-right img.work-image {
  height: 10rem;
  border-radius: 50%;
  border: 3px solid var(--dark-gray);
}

.experience-right img.project-image {
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}

.experience-left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  text-align: left;
}

.experience-header {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  font-size: var(--font-size-p-sm);
}

.experience-header .title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.experience-header p {
  font-size: var(--font-size-p-xs);
  margin: 0;
}

.divider {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  width: 100%;
  margin: 1rem 0;
  padding: 0;
}

.experience-body {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.experience-body p {
  margin: 0 0 1rem;
  font-size: var(--font-size-p-sm);
}

.point {
  display: flex;
  flex-direction: row;
}

.point p {
  margin-right: 0.4rem;
  font-size: var(--font-size-p-sm);
  margin-top: 0;
  margin-bottom: 0.85rem;
}

.experience-body a, .experience-body a:visited {
  color: white;
  opacity: 0.6;
  position: relative;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  margin-top: 1rem;
}

.experience-body a:hover, .experience-body a:focus {
  opacity: 1;
}

/*************************
 ********** ETC **********
 *************************/
.etc {
  min-height: 350px;
  text-align: center;
  background: url("../assets/img/greenies-bow.jpg") no-repeat fixed center top / cover;
  position: relative;
  z-index: 4;
}

.greenie-overlay {
  padding: none;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 6;
}

.etc-content {
  position: relative;
  z-index: 20;
}

/*************************
 ******** CONTACT ********
 *************************/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.contact-left {
  flex: 1 1 auto;
  margin-right: 2rem;
}

.contact-right {
  flex: 1 1 auto;
  margin-left: 2rem;
}

.contact-button img, .contact-button:visited img {
  opacity: 1;
  position: relative;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

.contact-button:hover img, .contact-button:focus img {
  /*opacity: 0.7;*/
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);

}

/*************************
 ****** ANIMATIONS *******
 *************************/

.animate-scroll {
  opacity: 0;
  position: relative;
  -moz-transition: all 750ms ease-out;
  -webkit-transition: all 750ms ease-out;
  -o-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
  -moz-transform: translate3d(0px, 150px, 0px);
  -webkit-transform: translate3d(0px, 150px, 0px);
  -o-transform: translate(0px, 150px);
  -ms-transform: translate(0px, 150px);
  transform: translate3d(0px, 150px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animate-scroll.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}