:root {
  --font-size-xl: 3rem;
  --font-size-lg: 1.5rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.9rem;
  --font-size-xs: 0.85rem;
}

h1, h2, h3, h4, h5 {
  font-family: "Zilla Slab", serif;
  margin: 0;
  padding: 0;
}

@page {
  size: auto;
  margin: 0mm;
}

html {
  background-color: #FFFFFF;
  margin: 0px;  /* this affects the margin on the html before sending to printer */
}

body {
  background-color: white;
  margin: 2rem 3rem 0;
}

h1 { font-size: var(--font-size-xl); }

h2 {
  margin-top: 1rem;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  color: #2079C7;
}

p, a {
  font-family: "Zilla Slab", serif;
  margin: 0.1rem 0 0 0;
}

p.font-md {
  font-size: var(--font-size-sm);
}

p.font-sm {
  font-size: var(--font-size-xs);
}

#header {
  display: none;
}

#resume {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#resume-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xs);
  font-family: "Zilla Slab", serif;
  margin-top: 1.5rem;
  color: #2079C7;
}

.print-icon {
  margin: 2rem;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 50%;
}

.horizontal-line {
  display: none;
}

.row {
  display: flex;
  align-items: flex-start;
}

.row .left {
  display: flex;
  flex-direction: column;
  padding-right: 2.5rem;
  flex: 0 0 60%;
}

.row .right {
  display: flex;
  flex-direction: column;
  flex: 0 0 35%;
}

.info {
  font-weight: bold;
}

.section {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 0.85rem;
  font-size: var(--font-size-md);
}

.title span {
  font-weight: bold;
}

.date-location {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  color: #666666;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  font-size: var(--font-size-xs);
}

.details .point {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.details .point p {
  margin-right: 0.2rem;
}

.details.no-margin {
  margin: 0;
}

.education {
  display: flex;
  flex-direction: column;
}